/** biome-ignore-all lint/suspicious/noUnknownAtRules: DaisyUI uses @plugin */
/** biome-ignore-all lint/correctness/noUnknownProperty: DaisyUI uses @plugin */
@import "tailwindcss";

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes:
    bumblebee --default,
}

html {
  font-family: "Nunito Sans", sans-serif;
}

:root {
  --default-font-family: "Nunito Sans", sans-serif;
}
