@import url('src/styles/variables.less');

.welcomeBanner {
  width: 100%;
  height: calc(100vh - @header-height);
  align-items: center;
  justify-content: space-between;
  padding: @layout-padding;
}
