@import url('src/styles/variables.less');

.skillCell {
  position: absolute;
  transition: @base-transition;

  .icon {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
