@import url('src/styles/variables.less');

.skillCell {
  background-color: transparent !important;
  background-image: none !important;
  transition: @base-transition;

  &.inactive {
    border-color: transparent;
    background-color: #0000;
    filter: grayscale(100%);
    opacity: 0.2;
  }

  :global(.ant-card-body) {
    padding: 0 !important;
  }

  .icon {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
