@import url('src/styles/variables.less');

.projectCard {
  overflow: hidden;
  line-height: 0 !important;
  text-align: left;

  .projectNameContainer {
    position: relative;
    z-index: 1;

    .projectName {
      margin: 0;
      color: @color-primary;
      font-size: 18px;
    }

    .projectNameBackground {
      position: absolute;
      z-index: -1;
      top: -35px;
      left: -18px;
      margin: 0;
      color: fade(@color-text-base, 3%);
      font-size: 50px;
      line-height: 60px;
      user-select: none;
      word-break: keep-all;
    }
  }

  .projectDescription {
    font-size: 12px;
  }
}
